@charset "UTF-8";

.canvas{
    width:500px;
    height:600px;

    background-color: #4d0f00;
}
.frame{
    border: 50px solid black;
    width:500px;
    padding: 50px;
    margin:20px auto;
}
.one{
    background-color:#efb762;
    margin:20px auto;
    width:425px;
    height:150px;
}
.two{
    background-color:#8f0401;
    margin: auto;
    width: 475px ;
    height: 200px;
}
.three{
    background-color: #b20403;
    margin: auto;
    width:91%;
    height: 28%;
}
